<div class="cen">
 <!-- <div class="cen1">
    <h2 class="hi text-center">Oops!</h2>
    <h3 class="hel text-center">404 Not Found</h3>
    <p class="text-center">Sorry, an error has occured,requested page not found!</p>
    <button class="hello d-block mx-auto"><a routerLink="home">take me home</a></button>
 </div> -->
 <div class="">
    <h2 class="hi text-center">Oops!</h2>
    <h3 class="hel text-center">404 Not Found</h3>
    <p class="text-center">Sorry, an error has occured,requested page not found!</p>
 </div>
</div>